@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: getColor('bgc');
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1199px) {
    padding-top: 94px;
    padding-bottom: 94px;

  }
}


.container {
  width: 100%;
  height: 100%;
  padding: 0px 15px 0px 15px;

  @include screen('mobi') {
    width: 480px;
    margin: 0px auto;
  }

  @include screen('tablet') {
    width: 768px;

  }

  @include screen('desktop') {
    width: 1200px;
  }
}

.btn {
  position: relative;
  padding: 6px 14px;
  color: getColor('accent');
  border-radius: 22px;
  border: none;
  background-color: getColor('btn-color');
  transition: background-color 300ms $cubic;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 22px;
    background-color: getColor('secondary');
    z-index: -1;
    transform: translateX(100%);
    transition: transform 300ms $cubic;
  }

  &:hover,
  &:focus {
    &:before {
      transform: translateX(0);
    }
  }
}
