.page-list {
  @include flex(center, center);

  li {
    border-right: 1px solid getColor('accent');

    &:last-child {
      border-right: none;
    }
  }
}

.page-link {
  display: block;
  padding: 12px 20px;
  color: getColor('accent');
  border: none;
  border-radius: 4px;
  background-color: getColor('btn-color');
  transition: background-color 300ms $cubic;

  &:hover,
  &:focus {
    background-color: getColor('secondary');
  }

  &.active-page {
    background-color: getColor('secondary');
  }
}
