.filter-section {
padding-top: 15px;
}

.filter-wrap{
text-align: end;

h2 {
    margin-bottom: 15px;
    font-size: 20px;

    @include screen('tablet') {
        font-size: 24px
    }
}
}

.filter-list {
    @include aligh(flex, center, end);
    gap: 5px;

    button {
        text-transform: capitalize;
    }
}