.counter-wrap {
  p {
    line-height: 1.3;
    color: getColor('accent');
    text-shadow: getColor('primary') 0.1em 0.1em 0.2em;

    @include screen('tablet') {
      font-size: 18px;
    }

    @include screen('desktop') {
      font-size: 20px;
    }
  }
}
