.form-add {
  @include flex(center, center);
  gap: 10px;
  margin-bottom: 22px;

  input {
    flex-grow: 2;
    padding: 6px 14px;
    color: getColor('secondary');
    @include border('secondary');
    box-shadow: 0 3px 2px getColor('box-shadow');
  }
}
